.post-container{
    border-radius: 5px;
    color: #4F3837;
    display: flex;
    margin: 15px 0px;
    padding: 5px 5px;
}
.image-container{
    /*background-color: #fff;*/
    height: 70px;
    padding: 10px 0px;
    text-align: center;
    width: 70px;
}
.detailContainer{
    display: flex;
    margin: 0px 20px;
}
.name-container{
    margin: 0px 20px;
}
.details{
    width: 160px;
}
.details-author{
    width: 200px;
}
.details-date{
    width: 110px;
}
.options{
    margin-left: 80px;
    width: 120px;
}
.btn{
    border-radius: none;
    color: #fff;
    font-size: 12px;
    margin: 0px 5px;
    padding: 2px 10px;
}
.btn-danger{
    background-color: #C1AAD0;
    border-color: #C1AAD0;
}
.btn-danger:active{ /*on click*/
    background-color: #C1AAD0;
    border-color: #C1AAD0;
    color: #631a86;
}
.btn-success{
    background-color: #9f84bd;
    border-color: #9f84bd;
}
.btn-success:active{ /*on click*/
    background-color: #9f84bd;
    border-color: #9f84bd;
    color: #631a86;
}
.btn-warning{
    background-color: #c09bd8;
    border-color: #c09bd8;
}
.btn-warning:active{ /*on click*/
    background-color: #c09bd8;
    border-color: #c09bd8;
    color: #631a86;
}