/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    font-family: 'Didot';
    font-weight: normal;
    margin: auto;
    padding: 0px 0px;
}